#loginForm {
    background-color: #8C2F39;
    width: 20rem;
    height: 10rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.icono {
    color: #EBE9E1;
    padding-right: 10px;
}

.mini-caja-login {
    display: flex;
    gap: 0.15rem;
    align-items: center;
    text-align: start;
    width: 90%;
}

.mini-caja-login input {
    width: 100%;
    padding: 0.75rem 2rem;
    background: #ffff;
    border: 1px solid #dcdfe5;
    color: #424b5a
}

.mini-caja-login select {
    width: 100%;
    padding: 0.75rem 2rem;
    background: #ffff;
    border: 1px solid #dcdfe5;
    color: #424b5a
}

.mini-caja-button {
    display: flex;
    justify-content: center;
}

input {
    border-radius: 5px;
}

.btn-flat {
    background-color: #B23A48 !important;
    color: #EBE9E1 !important;
    margin-top: 10px;
}

.btn-flat:hover {
    background-color: #461220 !important;
}

#boton-nuevo-usuario{
    margin-left: 10px;
}