#loginForm {

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    border: 2px dashed #ce9ceb;
    font-family: 'Bellerose', Inter;
}

.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    height: 50vh;

}

.icono {
    color: #856854;
    padding-right: 10px;
}

.mini-caja-login {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    text-align: start;
    width: 90%;

}

.mini-caja-login input {
    width: 100%;
    padding: 0.75rem 2rem;
    background: #ffff;
    border: 1px solid #dcdfe5;
    color: #424b5a
}

.mini-caja-login select {
    width: 100%;
    padding: 0.75rem 2rem;
    background: #ffff;
    border: 1px solid #dcdfe5;
    color: #424b5a
}

.mini-caja-button {
    display: flex;
    justify-content: center;
    padding: 5px;   
}


input {
    border-radius: 5px;
}

.btn-flat {
    background-color: #A6C1D2 !important;
    color: #063654 !important;
    margin-top: 10px;
    font-size: 20px !important;
}

.btn-flat:hover {
    background-color: #DE8A92 !important;
}

#boton-nuevo-usuario {
    margin-left: 10px;
}

span {
    font-family: 'Bellerose', Inter;
}

