
.site-title{
    font-size: 2rem;
    padding-left: 40px !important;   
}

.nav{
    background-color: #A6C1D2;
    color: #063654;
    font-family: 'Bellerose', Inter;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
    background-color: #FEC55E;
}

.nav li:hover{
    background-color: #DE8A92;
}

#icono-nav-bar{
    margin-right: 10px;
}